/* Added due to fixed-top menu */
body {
  padding-top: 45px;
}

.bg-red {
    background-color: $red;
}

nav {
    width: 100%;

    a {
        color: white;
    }

    a:hover {
        color:rgba(255,255,255,0.80);
        text-decoration:none;
    }
}

#imgHeader {
    width: 100%;
}

header {
    margin: 0 !important;
}
